body {
    background-image: url('bgImage.gif');
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-size: auto;
    font-size: 15pt;

    text-align:center;
    color: #BE5933;
}
#firstButton{
  font-size: 15px ;
  color: black;
  background-color: #24A439;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  border: 2px;
}

#secondButton{
  font-size: 15px ;
  color: black;
  background-color: #7E190A;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  border: 2px;
}
#thirdButton {
  font-size: 15px ;
  color: black;
  background-color: #AEBE5C;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  border: 2px;
}
#jadu{
  color: #1A1D95;
 
}
